@media(max-width : 1399px){
    .container{
        width: 1200px;
    }
}

@media(max-width : 1199px){
    .container{
        width: 900px;
    }
}

@media(max-width : 992px){
    .container{
        width: 700px;
    }
    footer p {
        font-size: 14px;
    }
    nav ul li a {
        padding: 15px;
        font-size: 15px;
    }
    header P {
        font-size: 15px;
        line-height: 25px;
    }
    .content {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .box h2 {
        font-size: 15px;
    }
    .box p {
        color: rgb(66, 63, 63);
        line-height: 25px;
        font-size: 15px;
    }
    .box {
        width: 50%;
        padding: 25px 15px;
    }
    footer p {
        font-size: 12px;
    }
    .col-padding {
        padding: 20px;
    }
    .foot-banner img {
        width: 100%;
    }
}

@media(max-width : 767px){
    .container{
        width: 540px;
    }
    nav ul li a {
        padding: 13px;
        font-size: 11px;
    }
    header P {
        font-size: 12px;
        line-height: 25px;
    }
    .content {
        padding-top: 77px;
        padding-bottom: 76px;
    }
    .box p {
        font-size: 12px;
    }
    .box h2 {
        font-size: 12px;
    }
    .small-img {
        display: none;
    }
    .box {
        width: 50%;
        padding: 25px 10px;
    }
    .box a {
        padding: 10px;
        font-size: 10px;
    }
    .col {
        width: 50%;
    }
    .foot-banner img {
        width: 100%;
    }
}

@media(max-width : 599px){
    .container {
        width: 340px;
    }
    .logo {
        width: 100%;
    }
    nav {
        width: 90%;
        padding: 20px 0px 0px;
    }
    nav ul {
        justify-content: center;
    }
    header h1 {
        margin-bottom: 15px;
        font-size: 25px;
    }
    .content {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    header P {
        font-size: 8px;
        line-height: 16px;
    }
    .box {
        width: 100%;
        padding: 25px 10px;
    }
    .box h2 {
        font-size: 18px;
    }
    footer {
        margin-top: 10px;
        padding-top: 20px;
        text-align: center;
    }
    .col-padding {
        padding: 15px;
    }
    .col {
        width: 90%;
        justify-content: center !important;
    }
}