*{
    margin: 0px;
    padding: 0px;
}

h1, h2, p{
    margin: 0;
    font-family: 'Commissioner', sans-serif;
}

header{
    background-color: #7F56F5;
    padding: 100px;
}

header h1, p {
    margin: 0;
    font-family: 'Commissioner', sans-serif;
}

header h1{
    text-align: center;
    color: white;
    font-family: 'Commissioner', sans-serif;
}
header p{
    margin-top: 50px;
    text-align: center;
    line-height: 20px;
    color: white;
    font-family: 'Commissioner', sans-serif;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.box{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 30px 50px;
}

.box h2{
    margin-bottom: 10px;
    color: #7F56F5;
}
.image{
    max-width: 100%;
}

.box a{
    text-decoration: none;
    background-color: #7F56F5;
    padding:10px;
    color:white;
    display :inline-block;
    margin-top:10px;
}